@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServerWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 custom-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="navbar-nav d-flex justify-content-end flex-grow-1">
                            <div class="nav-item">
                                <a asp-page="/Account/Logout" class="btn btn-primary">Logout</a>
                            </div>
                            <div class="nav-item dropdown" style="margin-left:5px">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </button>
                                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                                    <a asp-page="/Account/ChangePassword" class="dropdown-item">Change Password</a>
                                    <a asp-page="/Account/DeleteAccount" class="dropdown-item">Delete Account</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="navbar-nav d-flex justify-content-end flex-grow-1">
                            <div class="nav-item">
                                <a asp-page="/Account/Login" class="btn btn-primary">Login</a>
                            </div>
                            <div class="nav-item" style="margin-left:5px">
                                <a asp-page="/Account/Register" class="btn btn-primary">Register</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: Emiliano Xhukellari
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>