@page
@model ServerWeb.Pages.PageNotFoundModel
@{
    ViewData["Title"] = "Page Not Found";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <h5 class="text-danger text-center">We did not find what you are looking for.</h5>
</header>

