@page
@model ServerWeb.Pages.SU.UserRoleModel
@{
    ViewData["Title"] = "Users";
}

<div class="col-sm-2 mx-auto mt-3" style="height: 15vh; width: 50%">
    <div style="display: flex; justify-content: center;">
        <span class="oi oi-people" style="font-size: 5em;"></span>
    </div>
    <h4 class="text-center mt-3">User</h4>
    <div class="text-center">
    </div>
</div>

<div class="mt-4">
    <component type="typeof(Components.UserSearch)" render-mode="ServerPrerendered" param-CurrentUserSearch='"User"' />
</div>
