@page
@model ServerWeb.Pages.Account.AccessDeniedModel
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h2 class="text-danger text-center">You do not have access to this resource.</h2>
</header>
