@page
@model ServerWeb.Pages.Administrator.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="ChangePassword.CurrentPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="ChangePassword.CurrentPassword"></label>
                    <span asp-validation-for="ChangePassword.CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ChangePassword.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="ChangePassword.NewPassword"></label>
                    <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ChangePassword.ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="ChangePassword.ConfirmNewPassword"></label>
                    <span asp-validation-for="ChangePassword.ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

