@page
@model ServerWeb.Pages.Account.LogoutModel

<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <p class="text-center h5">Are you sure you want to Logout?</p>
                <div class="text-center">
                    <button class="btn btn-primary" asp-page-handler="LogoutConfirm">Yes</button>
                    <button class="btn btn-light border-dark" asp-page-handler="LogoutReject">No</button>
                </div>
            </div>
        </div>
    </div>
</form>