<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SU/Home">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SU/SuperUserRole">
                <span class="oi oi-shield" aria-hidden="true"></span> Super Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SU/AdministratorRole">
                <span class="oi oi-person" aria-hidden="true"></span> Administrators
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SU/EngineAdministratorRole">
                <span class="oi oi-cog" aria-hidden="true"></span> Engine Administrators
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SU/UserRole">
                <span class="oi oi-people" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SU/Help">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Help
            </NavLink>
        </div>
    </nav>
</div>