.sidebar[b-zguhctgehv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    float: left;
}
@media (min-width: 641px) {
    .page[b-zguhctgehv] {
        flex-direction: row;
    }

    .sidebar[b-zguhctgehv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zguhctgehv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-zguhctgehv], article[b-zguhctgehv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}