<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/User/Home">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/User/Playlists">
                <span class="oi oi-headphones" aria-hidden="true"></span> Playlists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/User/RecoverPlaylists">
                <span class="oi oi-action-undo" aria-hidden="true"></span> Recover Playlists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/User/SubmitIssue">
                <span class="oi oi-bug" aria-hidden="true"></span> Submit Issue
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/User/Help">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Help
            </NavLink>
        </div>
    </nav>
</div>