<configuration>
	<appSettings>
		<add key="PortStreaming" value="9090"/>
		<add key="PortCommunication" value="9191"/>
		<add key ="Host" value="192.168.1.103"/>
		<add key ="ClientId" value="123456"/>
		<add key ="PlaylistsRelativePath" value ="..\..\Playlists\"/>
		<add key ="IconsRelativePath" value="..\..\Icons\"/>
		<add key ="CertificateHash" value="2D446D7827184CFD82A3BDA15A70A52908BEB849"/>
	</appSettings>
</configuration>