@page
@model ServerWeb.Pages.User.HelpModel
@{
    ViewData["Title"] = "Help";
}

<div class="col-sm-2 mx-auto mt-3" style="height: 15vh; width: 50%">
    <div style="display: flex; justify-content: center;">
        <span class="oi oi-question-mark" style="font-size: 5em;"></span>
    </div>
    <h4 class="text-center mt-3">Help</h4>
    <div class="text-center">
    </div>
</div>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Playlists</h4>
        </div>
        <div class="card-body">
            <p>As a user, you can manage your playlists, and get the songs for each playlist.</p>

            <p>
                When you go to "Playlists" page, you can click on any playlist and the songs of this playlist
                will be displayed. Also, you can see the name of the playlist and the total duration of audio this
                playlist contains.
            </p>
            <p>If you click on "Delete" button on the playlist, the playlist will be deleted, but you will have the chance to recover it.</p>

        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Recover Playlists</h4>
        </div>
        <div class="card-body">
            <p>As a user, you can recover playlists that were not permanently deleted. Only you can 
                permanently delete a playlist.
            </p>
            <p>
                To recover a playlist, go to "Recover Playlists" page, and click on "Recover" button for
                the playlist that you want to recover. Once clicked, the playlist will be recovered.
                This playlist will be immediately visible in "Playlists" page. However, if you want to access
                this recovered playlist from the Desktop Application, you will need to log out, and log in again.
            </p>

           <p>
               To permanently delete a playlist, go to "Recover Playlists" page, and click on "Permanently Delete"
               button for the playlist that you want to permanently delete. This playlist cannot be recovered and the songs
               are lost.
           </p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Submit Issues</h4>
        </div>
        <div class="card-body">
            <p>
                As a user, you can submit issues about the Web Application, Desktop Application, Songs, Other.
            </p>
            <p>
                The process of submitting an issue: 
            </p>
            <ol>
                <li>Go to "Submit Issue" page.</li>
                <li>Enter the title of the issue. Make sure that the title is descriptive of the problem you are having.</li>
                <li>Choose the type of the issue from the options that you are given.</li>
                <li>Enter the description of the issue. The more descriptive the issue is, the easier it will be to identify this issue from our part.</li>
                <li>Click on "Submit" button.</li>
                <li>The issue is submitted and visible for us to solve.</li>
            </ol>
        </div>
    </div>
</div>