@using Microsoft.AspNetCore.Identity
@using Components
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServerWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <component type="typeof(SideBarEngineAdministrator)" render-mode="ServerPrerendered" />
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-0 custom-navbar">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="navbar-nav d-flex justify-content-end flex-grow-1">
                            <div class="nav-item">
                                <a asp-page="/Account/Logout" class="btn btn-primary">Logout</a>
                            </div>
                            <div class="nav-item" style="margin-left:5px">
                                <a asp-page="/Account/ChangePassword" class="btn btn-primary">Change Password</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="navbar-nav d-flex justify-content-end flex-grow-1">
                            <div class="nav-item">
                                <a asp-page="/Account/Login" class="btn btn-primary">Login</a>
                            </div>
                            <div class="nav-item" style="margin-left:5px">
                                <a asp-page="/Account/Register" class="btn btn-primary">Register</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 70px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: Emiliano Xhukellari
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/_framework/blazor.server.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>