@page
@model ServerWeb.Pages.EngineAdministrator.EngineControlModel
@{
    ViewData["Title"] = "Engine Control";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center mt-3">
            <span class="oi oi-cog" style="font-size: 5em;"></span>
            <h4 class="mt-3">Engine Control</h4>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <component type="typeof(Components.EngineStart)" render-mode="ServerPrerendered" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <component type="typeof(Components.DesktopSongSearchLimiter)" render-mode="ServerPrerendered" />
        </div>
        <div class="col-md-4">
            <component type="typeof(Components.WebSongSearchLimiter)" render-mode="ServerPrerendered" />
        </div>
        <div class="col-md-4">
            <component type="typeof(Components.DesktopClientCountLimiter)" render-mode="ServerPrerendered" />
        </div>
    </div>
</div>
<div class="mt-5">
    <component type="typeof(Components.LoadIndicator)" render-mode="ServerPrerendered" />
</div>
