@page
@model ServerWeb.Pages.EngineAdministrator.HomeModel
@{
}

<div class="col-sm-2 mx-auto mt-3" style="height: 15vh; width: 50%">
    <div style="display: flex; justify-content: center;">
        <span class="oi oi-cog" style="font-size: 5em;"></span>
    </div>
    <h4 class="text-center mt-3">Engine Control</h4>
    <div class="text-center">
    </div>
</div>

<component type="typeof(Components.EngineStart)" render-mode="ServerPrerendered"/>